# OSX
.DS_Store
.AppleDouble
.LSOverride

# Visual Studio Code
.vscode/* 
!.vscode/settings.json 
!.vscode/tasks.json 
!.vscode/launch.json 
!.vscode/extensions.json 
.history

# Enviroments
.env

# Django
db.sqlite3

# PosgreSQL
postgres_data/