{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- CSS  -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
    integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
  <script src="https://kit.fontawesome.com/742f2fd2b1.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'css/starability-all.min.css' %}" />
  {% load comment_tags %}
  <title>BLR</title>

</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">BLR</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'resource-list' %}">Resources</a>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link" href="#">Top</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Sobre Nosotros</a>
        </li> -->
      </ul>
      <ul class="navbar-nav ml-auto mx-auto">
        {% if  request.path == '/' or '/resource/' in request.path or '/tag/' in request.path %}

        <form method="get" action="{% url 'resource-list' %}" class="form-inline">
          <div class="input-group">
            {{ search.form.resource_name }}
            <div class="input-group-append">

              <button class="btn btn-outline-light" type="submit"><i class="fas fa-search"></i></button>
            </div>
          </div>
        </form>
        {% endif %}
      </ul>
      <ul class="navbar-nav">
        {% if  user.is_authenticated  %}
        <li class="nav-item">
          <a href="{% url 'create' %}"><button class="btn btn-success mx-2">Add</button></a>
        </li>

        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
            Hi, {{request.user|capfirst}}
            <img src="{{request.user.profile.profile_pic.url}}" class="navbar-pic rounded-circle">
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'userPage' %}"><i class="fas fa-user-circle"></i> Profile</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="{% url 'logout' %}"><i class="fas fa-sign-out-alt"></i> Logout</a>
          </div>
        </li>
        {% else %}
        <a href="{% url 'login' %}"><button class="btn btn-primary mx-2">Login</button></a>
        <a href="{% url 'register' %}"><button class="btn btn-primary mx-2">Register</button></a>
        {% endif %}
      </ul>
    </div>
  </nav>

  <main class="container">
    {% block content %}
    {% endblock %}
  </main>

  <footer class="footer">
    <div class="container">
      <span class="text-muted">Created by <a href="https://github.com/manu-lopez">Manuel López</a> using <a
          href="https://www.djangoproject.com/"><i class="fab fa-python"></i></a>.</span>
    </div>
  </footer>
  <script src="https://kit.fontawesome.com/b99e675b6e.js"></script>

  <!-- JS and jQuery -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
  {% include_static %}
  <!-- <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
    integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
    crossorigin="anonymous"></script> -->
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
    crossorigin="anonymous"></script>
</body>

</html>