{% extends 'blr/base.html' %}
{% load crispy_forms_tags %}
{% load vote %}
{% block content %}

<h1 class="text-center">Resources</h1>
<div class="container">
  <!-- Collapse with filter -->
  <div id="accordion">
    <div class="card">
      <div class="card-header" id="headingOne">
        <h5 class="mb-0">
          <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
            aria-controls="collapseOne">
            Advanced Search
          </button>
        </h5>
      </div>
      <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
        <div class="card-body">
          <form method="get">
            {{ search.form|crispy }}
            <button class="btn btn-primary" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>
  </div>
  <hr>
  <!-- Tags -->
  <p class="text-center">Tags:
    {% for tag in all_tags %}
    <a href="{% url 'tagged' tag.slug %}" class="badge badge-pill badge-info">{{tag}}</a>
    {% endfor %}
  </p>
  <div class="row text-center">
    {% for resource in resource_tagged %}

    <!-- Comprobamos que ha votado el usuario -->
    {% vote_exists resource request.user 0 as vote_up %}
    {% vote_exists resource request.user 1 as vote_down %}
    <div class="col-6 col-sm-4 col-md-3">
      <div class="card mb-4">
        <img class="card-img-top img-rounded center" src="{{ resource.resource_image.url }}"
          alt="{{resource.resource_name}} image">

        <div class="card-header">
          <fieldset class="starability-result mx-auto" data-rating="{{ resource.resource_stars }}">
            Rated: {{ resource.resource_stars }} stars
          </fieldset>

          {% if  user.is_authenticated  %}
          <form action="{% url 'vote_resource' %}" method="post">{% csrf_token %}

            {% if vote_up %}
            <button class="btn btn-success" type="submit" name="upvote" value="{{ resource.id }}"><i
                class="fas fa-plus"></i>
            </button>
            {% else %}
            <button class="btn btn-outline-success" type="submit" name="upvote" value="{{ resource.id }}"><i
                class="fas fa-plus"></i>
            </button>
            {% endif %}

            {% if vote_down %}
            <button class="btn btn-danger" type="submit" name="downvote" value="{{ resource.id }}"><i
                class="fas fa-minus"></i>
            </button>
            {% else %}
            <button class="btn btn-outline-danger" type="submit" name="downvote" value="{{ resource.id }}"><i
                class="fas fa-minus"></i>
            </button>
            {% endif %}
          </form>
          {% endif %}

        </div>
        <div class="card-header">
          <a href="{% url 'resource-detail' resource.resource_slug %}">
            <h4 class="my-0 font-weight-normal">{{resource.resource_name}}</h4>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            {% if resource.resource_description|length > 150 %}
            {{resource.resource_description|truncatechars:100}}
            {% else %}
            {{resource.resource_description}}
            {% endif %}
          </p>
        </div>
        {% if  user.is_authenticated  %}
        <div class="card-footer">
          <form action="{% url 'save_resource' %}" method="post">{% csrf_token %}
            {% if resource.id in is_saved %}
            <button class="btn btn-outline-danger" type="submit" name="resource_id" value="{{ resource.id }}"><i
                class="fas fa-star"></i>
            </button>
            {% else %}
            <button class="btn btn-outline-success" type="submit" name="resource_id" value="{{ resource.id }}"><i
                class="far fa-star"></i>
            </button>
            {% endif %}
          </form>
        </div>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}