{% extends 'blr/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<h1 class="text-center">Resources</h1>
<div class="container">
  <p>Tags:
    {% for tag in all_tags %}
    <a href="{% url 'tagged' tag.slug %}" class="badge badge-success">{{tag}}</a>
    {% endfor %}
  </p>
  <!-- Collapse with filter -->
  <!-- <p>
    <a class="btn btn-primary" data-toggle="collapse" href="#filter_bar" role="button" aria-expanded="false"
      aria-controls="filter_bar">
      Filter
    </a>
  </p> -->
  <!-- <div class="collapse" id="filter_bar">
    <div class="card card-body">
      <form method="get">
        {{ filter.form|crispy }}
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
    </div>
  </div> -->
  <div class="row text-center">
    {% for resource in search.qs %}
    <div class="col-6 col-sm-4 col-md-3">
      <div class="card-header">
        <form action="{% url 'like_resource' %}" method="post">{% csrf_token %}

          {% if resource.id in is_liked %}
          <button class="btn btn-outline-danger" type="submit" name="resource_id" value="{{ resource.id }}"> Dislike
          </button>
          {% else %}
          <button class="btn btn-outline-success" type="submit" name="resource_id" value="{{ resource.id }}"> Like
          </button>
          {% endif %}

        </form>
      </div>
      <div class="card mb-4">
        <img class="card-img-top img-rounded center" src="{{ resource.resource_image.url }}"
          alt="{{resource.resource_name}} image">
        <div class="card-header">
          <a href="{% url 'resource-detail' resource.resource_slug %}">
            <h4 class="my-0 font-weight-normal">{{resource.resource_name}}</h4>
          </a>
        </div>
        <div class="card-body">
          <p class="card-text">
            {% if resource.resource_description|length > 150 %}
            {{resource.resource_description|truncatechars:100}}
            {% else %}
            {{resource.resource_description}}
            {% endif %}
          </p>
        </div>
        <!-- <div class="card-footer">
          <a href="#"><button class="btn btn-outline-success"> + </button></a>
          <a href="#"><button class="btn btn-outline-danger"> - </button></a>
        </div> -->
      </div>
    </div>
    {% endfor %}
  </div>
</div>
</div>

{% endblock %}