{% extends 'blr/base.html' %}
{% load crispy_forms_tags %}
{% load comment_tags %}

{% block content %}

<div class="card mt-5">
  <div class="card-header">
    {% if  user.is_authenticated  %}
    <form action="{% url 'save_resource' %}" method="post">{% csrf_token %}
      {% if resource.id in is_saved %}
      <button class="btn btn-outline-danger btn-block" type="submit" name="resource_id" value="{{ resource.id }}"><i
          class="fas fa-heart"></i>
      </button>
      {% else %}
      <button class="btn btn-outline-success btn-block" type="submit" name="resource_id" value="{{ resource.id }}"><i
          class="far fa-heart"></i>
      </button>
      {% endif %}
    </form>
    <hr>
    {% endif %}
    <div>
      <h4 class="card-title text-center font-weight-bold mb-2">{{object.resource_name}}</h4>
      <hr>
      {% if object.resource_price == 0%}
      <p class="card-text text-center text-success"> FREE </p>
      {% else %}
      <p class="card-text text-center text-danger">{{object.resource_price}}
        €</p>
      {% endif %}
    </div>
  </div>
  <img class="card-img-center-detail" src="{{ resource.resource_image.url }}" alt="{{resource.resource_name}} image">
  <div class="card-header text-center">
    <p class="starability-result mx-auto" data-rating="{{ resource.resource_stars }}">
      Rated: {{ resource.resource_stars }} stars
    </p>
    {% if  user.is_authenticated  %}
    <form action="{% url 'vote_resource' %}" method="post">{% csrf_token %}
      {% if vote_up %}
      <button class="btn btn-success btn-sm" type="submit" name="upvote" value="{{ resource.id }}"><i
          class="fas fa-plus"></i>
      </button>
      {% else %}
      <button class="btn btn-outline-success btn-sm" type="submit" name="upvote" value="{{ resource.id }}"><i
          class="fas fa-plus"></i>
      </button>
      {% endif %}
      {% if vote_down %}
      <button class="btn btn-danger btn-sm" type="submit" name="downvote" value="{{ resource.id }}"><i
          class="fas fa-minus"></i>
      </button>
      {% else %}
      <button class="btn btn-outline-danger btn-sm" type="submit" name="downvote" value="{{ resource.id }}"><i
          class="fas fa-minus"></i>
      </button>
      {% endif %}
    </form>
    {% endif %}
  </div>
  <div class="card-body">
    <p class="card-text">{{object.resource_description}}</p>
    {% for tag in object.resource_tags.all %}
    <a href="{% url 'tagged' tag.slug %}" class="badge badge-info">{{ tag }}</a>
    {% endfor %}
    <p class="card-text"><i class="fas fa-user-alt"></i> {{object.resource_author}}</p>
    <a href="{{object.resource_url}}">
      <p class="card-text"><i class="fas fa-external-link-alt"></i>Website</p>
    </a>
  </div>

  {% if request.user.profile == object.post_author %}
  <div class="card-footer">
    <a href="{% url 'update' object.resource_slug %}"><button
        class="btn btn-outline-primary btn-block mr-1">Update</button></a>
    <a href="{% url 'delete' object.resource_slug %}"><button
        class="btn btn-outline-danger btn-block mt-2 mb-2">Delete</button></a>
  </div>
  {% endif %}
</div>

{% render_comments object request comments_per_page=5 %}
{% endblock %}