{% extends 'blr/base.html' %}
{% load vote %}
{% block content %}
<h1 class="text-center">Resources</h1>
<div class="container">
  <!-- Collapse with filter -->
  {% include "blr/collapse_filter.html" with search=search %}
  <hr>
  <!-- Tags -->
  {% include "blr/all_tags.html" with all_tags=all_tags%}
  <div class="container">
    <div class="row my-4">
      <div class="col">
        <div class="container-fluid text-center">
          <div class="row">
            {% for resource in searchpagination %}
            <!-- Comprobamos que ha votado el usuario -->
            {% vote_exists resource request.user 0 as vote_up %}
            {% vote_exists resource request.user 1 as vote_down %}

            <!-- Card -->
            {% include "blr/card.html" with resource=resource vote_exists=vote_exists is_saved=is_saved %}
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<nav>
  <ul class="pagination">

    {% if searchpagination.has_previous %}
    <li class="page-item"><a class="page-link" href="?page={{ searchpagination.previous_page_number }}">Previous</a>
    </li>
    {% endif %}

    {% for n in npages %}
    {% if n == searchpagination.number %}
    <li class="page-item active">
      <a class="page-link" href="?page={{ n }}">{{ n }} <span class="sr-only">(current)</span></a>
    </li>
    {% else %}
    <li class="page-item"><a class="page-link" href="?page={{ n }}">{{ n }}</a></li>
    {% endif %}
    {% endfor %}

    {% if searchpagination.has_next %}
    <li class="page-item"><a class="page-link" href="?page={{ searchpagination.next_page_number }}">Next</a></li>
    {% endif %}
  </ul>
</nav>
</div>
{% endblock %}