{% extends 'blr/base.html' %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row">
  <div class="col-md-3">
    <div class="card card-body">
      <h3 style="text-align: center">Account Settings for {{request.user.username|capfirst }}</h3>
      <hr>
      <img class="profile-pic" src="{{request.user.profile.profile_pic.url}}">

    </div>
  </div>
  <div class="col-md-9">
    <div class="card card-body">

      <form method="POST" action="" enctype="multipart/form-data">
        {% csrf_token %}
        {{form|crispy}}
        <button type="submit" class="save btn btn-success">Save</button>
      </form>
      <hr>
      <p><a href="{% url 'changePassword' %}">Change actual password</a></p>
    </div>
  </div>
</div>

<div class="mt-4">
  <h1>Resources created</h1>
  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th class="text-center" scope="col">Update</th>
        <th class="text-center" scope="col">Delete</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in resources %}
      <tr>
        <td><a href="{% url 'resource-detail' resource.resource_slug %}">{{ resource.resource_name }}</a></td>
        <td><a href="{% url 'update' resource.resource_slug %}"><button
              class="btn btn-outline-primary btn-block">Update</button></a></td>
        <td><a href="{% url 'delete' resource.resource_slug %}"><button
              class="btn btn-outline-danger btn-block">Delete</button></a></td>
      </tr>
      {% endfor %}
    </tbody>
  </table>


  <h1>Resources saved</h1>

  <table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Name</th>
        <th class="text-center" scope="col">Saved</th>
      </tr>
    </thead>
    <tbody>
      {% for resource in favorited %}
      <tr>
        <td><a href="{% url 'resource-detail' resource.resource_slug %}">{{ resource.resource_name }}</a></td>
        <td>
          <form action="{% url 'save_resource' %}" method="post">{% csrf_token %}
            <button class="btn btn-block btn-outline-danger" type="submit" name="resource_id"
              value="{{ resource.id }}"><i class="fas fa-heart"></i>
            </button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
{% endblock %}